.button
{
	-fx-font-size: 16pt;
	-fx-font-family: "Dialog"; 
	-fx-alignement: center;
}
.text
{
	-fx-font-size: 15pt;
	-fx-font-family: "Dialog"; 
}
.menu
{
	-fx-font-size: 16pt;
}
.message
{
	-fx-alignment: center;	  
}

.title
{
	-fx-font-size: 30pt;
	-fx-alignment: center;
}

.title2
{
	-fx-font-size: 20pt;
}